/* -------PCスマホ共通スタイル--------- */
/* index.html social tech */
* {
  box-sizing: border-box;
}

p {
  font-size: 15px;
}

body {
  max-width: 1080px;
  margin: 0 auto;
  font-family: "Source Sans Pro", "Hiragino Kaku Gothic ProN", Meiryo, Arial, sans-serif;
}

/* 🥹ヘッダー */

header {
  display: flex;
  /* アイテムの横方向（主軸）の揃え方を指定 */
  justify-content: space-between;
}

/* ⭐︎ナビゲーションのレイアウト */
#nav-pc {
  font-size: 14px;
}

#nav-pc ul {
  display: flex;
  padding-left: 0;
}

#nav-pc li {
  list-style: none;
}

/* ⭐︎ナビゲーションのリンクの装飾設定 */
#nav-pc a {
  text-decoration-line: none;
  margin-left: 20px;
  color: #0d0d0d;
}

/* スマホ用ナビを非表示 */
#nav-sp,
#menu-sp {
  display: none;
}

#nav-pc a:hover {
  text-decoration: underline;
}

/* 🥹メインビジュアル */

#main-visual {
  /* relative: 本来の表示位置を基準にした相対位置 */
  position: relative;
  height: 400px;
}

#main-message {
  /* absolute: 本来の表示位置を基準にした相対位置 */
  position: absolute;
  top: 0;
  left: 0;
  background-color: #2710d5;
  color: #ffffff;
  border-radius: 0 0 476px 0;
  max-width: 620px;
  width: 100%;
  height: 100%;
  z-index: 11;
}

#main-message > h1  {
  font-size: 60px;
  margin: 100px 0 0 50px;
}

#main-message  > p  {
  font-size: 28px;
  margin: 0 0 0 50px;
}

#main-visual > img {
  max-width: 620px;
  border-radius: 476px 0 0 0;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
}

/* ⭐︎見出し */
h2 {
  margin-top: 40px;
    margin: 80px auto;
  }

h2::after {
  content: url("images/line.png");
  margin-left: 10px;
}

h3 {
  font-size: 27px;
}

/* 🥹MISSION */

/* MISSION---のレイアウト */
#mission {
  margin: 80px auto;
}

#mission-flex {
  /* コンテナ（親要素）に以下指定することでアイテムが横並びになる*/
  display: flex;
}

#mission-flex > div {
  width: 50%;
  margin: 20px;
}

#mission-photo {
  width: 100%;
}

#s2dgs {
  margin-top: 50px;
  width: 100%;
}


/* 🥹PRODUCT */

#product {
  background-color: #fafafa;
  margin: 80px 0 80px 0;
  padding: 10px 40px 0px 40px;
}

/* ⭐︎外枠 */
#product .product-flex {
  margin-top: 40px;
  display: flex;
}

/* ⭐︎左のカラム */
#product-left {
  width: 50%;
  margin-right: 20px;
}

/* ⭐︎右のカラム */
#product-right {
  width: 50%;
  margin-left: 20px;
  margin-top: 80px;
}

/* ⭐︎画像と説明の枠 */
#product-left > div {
  position: relative;
  height: 480px;
  margin-right: 20px;
}

#product-right > div {
  position: relative;
  height: 480px;
  margin-left: 20px;
}

.product-photo {
  width: 100%;
}

/* ⭐︎説明文（span h3 p）の枠 */
.product-explain {
  background-color: #ffffff;
  position:absolute;
  left: 0;
  bottom: 50px;
  margin: 0 40px 0 40px;
  padding: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.05);
}

/* 説明文の英語　(MAN TO MAN等) */
.product-explain > span {
  color: #2710d5;
  font-weight: bold;
  font-size: 16px;
  margin: 0;
}

/* 説明文の見出し (プログラミング教育等)　*/
.product-explain > h3 {
  margin: 5px 0 5px 0;
}

/* 説明文 （2013年より日本で唯一の専属講師による.....等）*/
.product-explain > p {
  font-size: 14px;
  margin: 0;
}

/* もっとみるボタン */
#product-more {
  text-align: center;
}

#product-more a {
  position: relative;
  bottom: -42px;
}


/* 🥹ABOUT US */

#aboutus {
  margin:80px auto 80px auto;
}

/* 3つの組織文化と写真と入れる枠 */
#aboutus > div {
  display: flex;
}

/* 画像 */
.culture-img {
  width: 50%;
  /* align-self 　アイテムの縦方向（交差軸）の揃え方を指定 */
  /* Flexbox（フレックスボックス）内の要素は
  align-self: flex-start;
  を指定すると上寄せになる*/
  align-self: flex-start;
}

.culture-img2 {
  margin-top: 50px;
  width: 100%;
}

/* 3つの組織文化の表 */
.culture-table {
  margin-right: 50px;
}

/* 番号 */
.culture-num {
  font-size: 80px;
  color: #2710d5;
  padding: 0 20px 0 0 ;
}

/* 見出し */
.culture-table th {
  text-align: left;
  font-size: 28px;
  font-weight: bold;
}

/* 組織文化英語 */
.culture-en {
  color: #2710d5;
  font-size: 24px;
}

/* 説明文 */
.culture-description {
  margin:0;
}


/* ビジョン */
#vision {
  margin: 80px auto;
}

/* セクション内の外枠 */
#vision > div {
  display: flex;
  /* 横方向の揃え方（justify-content）：
  space-betweenを指定する
  （一番左と一番右の子要素を両端に配置し、残りの子要素を均等な間隔で配置する） */
  justify-content: space-between;
  /* 折り返し（flex-wrap）：wrapを指定する
  （幅が足りなくなったら上から下に折り返しする） */
  flex-wrap: wrap;
}

/* 7つの行動指針の枠 */
.vision-box {
  width: 300px;
  height: 300px;
  margin-bottom: 30px;
  position: relative;
}

#vision-box > img {
  width: 100%;
  position: relative;
  z-index: 30;
}

.vision-box > div {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 31;
  margin-right: 20px;
}

.vision-box > div > h4 {
  color: #2710d5;
  font-size: 19px;
  margin-top: 80px;
}

.vision-box > div > h4::first-letter {
  font-size: 40px;
}

.vision-box > div > h5 {
  font-size: 20px;
  margin:0;
}

.vision-box > div > p {
  margin: 10px 0 0 0;
}

/* 会社概要 */
#company {
  margin:80px auto;
}

/* 表全体 */
#company-table {
  width:100%;
}

/*　2行目以降の見出し  */
.tableheader {
  /* 文字の位置（text-align）：left（左揃え */
  text-align: left;
  padding: 20px;
  /* 下の枠線 */
  border-bottom-color: #2710d5;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  /* 幅 */
  width: 100px;
}

/* 1行目の見出しの上の枠線 */
.tableheader-first {
  border-top-color: #2710d5;
  border-top-width:1px;
  border-top-style: solid;
}

.cell {
  padding:30px;
  border-bottom-color: #ececec;
  border-bottom-width:1px;
  border-bottom-style:solid;
}

/* 1行目のセルの上枠線 */
.cell-first {
  border-top-color: #ececec;
  border-top-width:1px;
  border-top-style:solid;
}

/* google map */
#company > iframe {
  width:100%;
  height: 368px;
  margin-top: 40px;
}


/* お問い合わせ */
#contact {
  margin:80px auto;
}

/* 外枠 */
#contact>form>div {
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 padding: 30px;
}

/* 左の見出し */
.contact-heading {
  width: 240px;
  align-self: center;
}

/* 見出しのラベル */
.contact-label {
  font-weight: bold;
}

/* 必須 */
.contact-span {
  color: #ce2222;
  margin-left: 20px;
  font-weight: bold;
}

/* テキストボックス */
.contact-textbox {
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom-width: 1px;
  border-bottom-color: #707070;
  border-style: solid;
  background-color: #fafafa;
  width: 400px;
  height: 56px;
}

/* お問い合わせ内容のテキストエリア */
.contact-textarea {
  border-top:0px;
  border-left:0px;
  border-right:0px;
  border-bottom-width: 1px;
  border-bottom-color:#707070;
  background-color:#fafafa;
  width: 400px;
  height:200px;
}

/* 各項目の見出し */
#contact  dt {
  font-weight: bold;
}

/* 各項目の説明 */
#contact dd {
  margin:0 0 16px 0;
}

/* 説明内の段落 */
#contact dd p {
  margin:0;
}

/* 説明内のリスト */
#contact dd ul {
  padding-left:0;
}

/* リストの項目 */
#contact dd li {
  margin-bottom:0;
  list-style:none;
}


/* フッター */
footer {
  background-color: #0d0d0d;
  text-align: center;
  padding:80px 80px 30px 80px;
}

#footer-logo {
  margin-bottom:30px;
}

#footer-link {
  margin-bottom: 50px;
}

#footer-link > a {
  text-decoration:none;
  margin:10px;
  color:#ffffff;
}

#footer-link > a:hover {
  text-decoration: underline;
}

#sns-footer {
  display:flex;
  justify-content: space-between;
  text-align: left;
}

/* ここに>を入れちゃいけない理由は？ */
#sns-footer  a {
  margin-right: 30px;
}

#copyright {
  color: #ffffff;
  margin: 0;
}


/* mission.html用のスタイル */
/* ミッションのメインビジュアル */
.mission-main-inner {
  background-image: url("images/mission/mission-main.png");
  background-repeat: no-repeat;
  background-position-y: center;
}

#mission-title {
  background-color: #2710d5;
  width: 368px;
  color: #ffffff;
  height: 496px;
  border-radius: 0 248px 248px 0;
  position: relative;
}

#mission-title h1 {
  position: absolute;
  top: 0;
  left: 100px;
  font-size: 80px;
  line-height: 1;
}

/* h1のフォントサイズを上記で設定しているのに
またここでh1のフォントを設定するのはなぜ？ */
/* 下記ではmission-title > P と表示されているのに
ここでmission-tittle h1 span と記載されているのはなぜ？
mission-title > h1 span でも良いの？ */
#mission-title h1 span {
  font-size: 26px;
}

#mission-title > p {
  position: absolute;
  top: 350px;
  left: 100px;
  font-size: 16px;
}


/* ------ここがおかしい？------ */
 /* ミッションページ　S2DGSの設定 */
 #mission-s2dgs {
  padding: 20px;
}

.mission-h2 {
  color: #2710d5;
  font-size: 40px;
}

.mission-h2::after {
  content: none;
}

/* ミッションページ　5Goalsの設定 */
#mission-five-goals {
  padding: 20px;
  display: flex;
}

/* .前のスペースはマスト！ */
#mission-five-goals .five-goals-image {
  width: 30%;
  padding: 20px;
}

#mission-five-goals .five-goals-image img {
  width: 100%;
}

#mission-five-goals .five-goals-read {
  width: 70%;
  padding: 20px;
}

#mission-five-goals .five-goals-read > div {
  margin-bottom: 40px;
}

.fivegoals-image-right {
  float: right;
  margin: 20px;
}

.fivegoals-image-left {
  float: left;
  margin: 20px;
}

.fivegoals-number {
  color: #2710d5;
  font-size: 48px;
  font-weight: bold;
  margin: 0;
}

.fivegoals-h3{
  font-size: 28px;
  margin: 0;
}

.fivegoals-p {
  margin: 0;
}


/* ------product.html用のスタイル------- */
/* ------プロダクトのメインビジュアル----- */
.product-main-inner {
  background-image: url("images/product/product-main.png");
  background-repeat: no-repeat;
  background-position-y: center;
}

#product-title {
  background-color: #2710d5;
  width: 368px;
  color: #ffffff;
  height: 496px;
  border-radius: 0 248px 248px 0;
  position: relative;
}

#product-title h1 {
  position: absolute;
  top: 0;
  left: 100px;
  font-size: 80px;
  line-height: 1;
}

#product-title h1 span {
  font-size: 26px;
}

#product-title > p {
  position: absolute;
  top: 350px;
  left: 100px;
  font-size: 16px;
}

/* セクション */
.product-section {
  display: flex;
  /* padding:20px 20px 0 0　これでもいい？ */
  padding: 20px 20px 0;
}

.product-section .product-section-img {
  width: 450px;
}

/* 左が画像のセクション */
.product-section-left .product-section-img img {
  width: 100%;
  padding: 0 40px 30px 0;
  border-radius: 0 432px 0 0;
}

.product-section-left .product-read {
  width: 50%;
  flex-grow: 1;
}

.product-section-left .product-read p {
  margin-bottom: 0;
}

/* 右が画像のセクション */
.product-section-right {
  justify-content: space-between;
}

.product-section-right .product-section-img img {
  width: 100%;
  padding: 0 0 30px 40px;
  border-radius: 432px 0 0 0;
}

.product-section-right .product-read {
  width: 500px;
}

.product-h2 {
  color: #2710d5;
  font-size: 24px;
  margin: 0;
}

.product-h3 {
  font-size: 28px;
  margin: 0;
}
/* ------スマートフォン用のスタイル------- */


/* 画面幅が767px以下のとき */
@media screen and (max-width: 767px) {
/* ------index.html スマートフォン用のスタイルを指定する------- */
/* PC用ナビゲーション非表示 */
#nav-pc {
  display: none;
}

/* ハンバーガーメニューのアイコン画像 */
#menu-sp {
  /* display 要素の表示方法 */
  display: block;
  /* transparent 透明 */
  background-color: transparent;
  /* float 要素の並び */
  float:right;
  /* padding 余白 */
  padding: 0;
  /* border 要素の境界線 */
  border:none
}

/* スマホ用ナビゲーションの表示切替 */
/* 初期状態、レイアウトと非表示設定 */
#nav-sp {
  background-color: #2710d5;
  position: fixed;
  left:0;
  top:0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 100;
}

/* ❌閉じるボタン　 */
#close {
  position:absolute;
  top:20px;
  right:20px;
  background-color: transparent;
  border:none
}

/* nav-sp要素のスタイル設定 */
#nav-sp nav ul {
 padding: 0;
}

#nav-sp nav li {
  list-style: none;
}

/* ナビゲーションメニュー用ロゴ */
#logo-sp {
  margin:80px 0 30px 20px
}

/* ナビゲーションのリンクの装飾設定 */
#nav-sp nav a {
  display: block;
  color: #ffffff;
}

#nav-sp nav a {
  text-decoration: underline;
}

#nav-sp .menu {
  text-decoration: none;
  margin:0 20px 0 20px;
  height: 44px;
  font-size:16px;
  background-image: url(images/.png);
  background-repeat: no-repeat;
  background-position: right top;
}

#sns {
  position: absolute;
  bottom: 20px;
  left:20px;
}

#sns > a {
  margin-right:30px;
}

/* メインビジュアル */

#main-visual {
  position: relative;
  height: 470px;
}

#main-visual > div {
  text-align: center;
  height: 280px;
}

#main-visual h1 {
  font-size: 28px;
  margin: 90px 0 0 0;
}

#main-visual > div > p {
  margin: 0;
  font-size: 15px;
}

#main-visual > img {
  width: 100%;
  border-radius: 476px 0 0 0;
  top: auto;
  bottom: 0;
}

/* 大見出し */

h2 {
  margin: 15px 0 15px 0;
}

h3 {
  font-size: 24px;
  margin: 10px 0 0 0;
}

/* MISSION */

#mission {
  margin: 20px 0 20px 0;
  padding: 0 20px 0 20px;
}

#mission-flex {
  flex-direction: column;
}

#mission-flex > div {
  width: 100%;
  margin: 0;
}

/* PRODUCT */

#product {
  margin: 0;
  padding: 10px 20px 0 20p;
}

/* 外枠 */
#product .product-flex {
  flex-direction: column;
  margin-top: 0;
}

/* 左右のカラム　スマホでは縦並び */
#product-left,#product-right {
  width: 100%;
  margin: 0;
}

/* 見出し、説明文 */
#product-left > div, #product-right > div {
  height: auto;
  margin: 0;
}

/* 説明文の枠 */
.product-explain {
  position: relative;
  margin: 0;
}

/* 見出し */
#product-explain > h3 {
  margin: 10px 0 10px 0;
  font-size: 24px;
}

/* もっと見るボタン */
#product-more {
  text-align: left;
}

/* ABOUT US */

#aboutus {
  margin: 80px 20px 80px 20px;
}

#aboutus > div {
  flex-direction: column;
}

.culture-table th {
  font-size: 16px;
}

.culture-table {
  margin-right: 0;
  padding-right: 20px;
  order: 2;
}

.culture-img {
  width: 100%;
  order: 1;
}

.culture-img2 {
  margin-top: 0;
}

.culture-num {
  padding: 0;
}

.culture-description {
  margin: 0;
}

/* VISION */

#vision {
  margin: 80px 20px 80px 20px;
}

.vision-box > img {
  position: absolute;
  top: 0;
  left: 0;
}

.vision-box > div > h4 {
  margin: 60px 0 0 0;
}

/* 会社概要 */

#company {
  margin: 0 20px 0 20px;
}

#company > h3 {
  margin-bottom: 20px;
}

/* 幅を狭く設定することで
会社名・所在地・代表者・設立等の見出しを縦読みにする */
.tableheader {
  width: 50px;
}

.cell {
  padding: 20px;
}

#company > iframe {
  height: 240px;
}

/* CONTACT */

#contact {
  margin: 80px 20px 80px 20px;
}

#contact > h3 {
  margin-bottom: 20px;
}

#contact > form > div {
  /* フレックスコンテナの配置：縦並び（column） */
  flex-direction: column;
  margin-bottom: 20px;
}

.contact-heading {
  /* flexアイテムの配置を個別に指定（align-self）: 親要素のalign-itemsの値に従う（auto） */
  align-self: auto;
  margin-bottom: 20px;
}

.contact-textbox {
  min-width: 300px;
  width: 100%;
}

.contact-textarea {
  height: 150px;
  width: 100%;
}

.radiobutton {
  margin-bottom: 20px;
}

/* footer要素 */

footer {
  padding: 30px 20px 50px 20px;
  text-align: left;
}

#footer-link > a {
  margin: 0 20px 30px 0;
  /* 表示方法（display）：blockを指定して、要素を縦並びにする */
  display: block;
  background-image: url("images/arrow.png");
  background-repeat: no-repeat;
  background-position: right top;
}

#footer-link > a:hover {
  text-decoration: underline;
}

#sns-footer {
  /* フレックスボックスの子要素の並び（flex-direction）：縦（column） */
  flex-direction: column;
  /* 子要素の配置（justify-content）：上端に揃える（flex-start） */
  justify-content: flex-start;
}

#copyright {
  font-size: 12px;
  margin-top: 30px;
}


 /* ------mission.html用のスタイル----- */
 /* ミッションのメインビジュアル */
#mission-main {
  height: 256px;
  margin-top: 4%;
  position: relative;
}

.mission-main-inner {
  height: 80%;
  /* background-sizeは、背景画像の幅と高さを指定するプロパティです。
  画像サイズと異なる値を指定すると、見切れたり余白ができたりします。 */
  background-size: cover;
}

#mission-title {
  width: 136px;
  height: 256px;
  position: absolute;
  top: -10%;
}

#mission-title h1 {
  left: 20px;
  font-size: 40px;
}

#mission-title h1 span {
  font-size: 18px;
}

#mission-title > p {
  top: 180px;
  /* leftに20pxを指定することで親要素の左上を基準に配置する */
  left: 20px;
  font-size: 13px;
}

/* ミッションページ　S2DGSの設定 */
.mission-h2 {
  font-size: 38px;
  margin: 0px;
}

.mission-h2::after {
  content: none;
}

#mission-s2dgs > img {
  width: 100%;
}

/* ミッションページ　５Goalsの設定 */
#mission-five-goals {
  flex-direction: column;
}

#mission-five-goals > div {
  padding: 0;
}

#mission-five-goals .five-goals-image, #mission-five-goals .five-goals-read {
  width: 100%;
  padding: 0;
}

#mission-five-goals .five-goals-read > div {
  display: flex;
  flex-direction: column;
}

.fivegoals-image-right , .fivegoals-image-left {
  align-self: center;
}


 /* ------product.html用のスタイル----- */
 /* プロダクトのメインビジュアル */
 #product-main {
  height: 256px;
  margin-top: 4%;
  position: relative;
 }

 .product-main-inner {
  height: 80%;
  /* 背景サイズ（background-size）：
  要素全体を覆うよう自動的に広がる（cover） */
  background-size: cover;
 }

 #product-title {
  width: 136px;
  height: 256px;
  position: absolute;
  top: -10%;
 }

 #product-title h1 {
  left: 20px;
  font-size: 40px;
 }

 #product-title h1 span {
  font-size :18px;
 }

 #product-title > p {
  top: 180px;
  left: 20px;
  font-size: 13px;
 }

 /* セクション */
 .product-section {
  flex-direction: column;
 }

 .product-section .product-section-img {
  width: 100%;
 }

 .product-section .product-section-img img {
  width: 100%;
  padding: 0;
 }

 /* 左が画像のセクション */
 .product-section-left .product-section-img img {
  border-radius: 0 300px 0 0;
 }

 .product-section-left .product-read {
  width: 100%;
  flex-grow: 1;
 }

 /* 右が画像のセクション */
 .product-section-right .product-section-img img {
  order: 1;
  border-radius: 300px 0 0 0;
 }

 .product-section-right .product-read {
  order: 2;
  width: 100%;
 }
}     


